<div class="col-xs-12 menu-panel"></div>
  <div class="col-xs-3 left-panel">
    <div class="col-xs-12 button-panel">
        <i class="fa fa-plus"></i>
    </div>
    <div class="col-xs-12 notes-list">
      <left-panel></left-panel>
    </div>
  </div>
  <div class="col-xs-9 right-panel">
    <div class="col-xs-12 button-panel">
        <span>{{main.displayDate}}</span>
        <i class="fa fa-trash-o"></i>
    </div>
    <div class="col-xs-12 notes-content">
      <right-panel></right-panel>
    </div>
</div>